body{
    margin:0;
}
.nav
{

    height: 70px;
    line-height: 70px;
    background-color:navy;
}
.menu
{
    margin:0 30px 0 0;
    position: absolute;
    right: 30px;
}

.menu a{
    color: oldlace;
    text-decoration: none;
    margin:0 10px;
    line-height: 70px;
}

label
{
    font-size: 26px;
    margin:0 40px 0 0;
    line-height: 70px;
    visibility: hidden;
    position: absolute;
    right: 0;
    color: oldlace;
}

#toggle
{
    
    display: none;
}

@media only screen and (max-width:600px)
{
    label{
        
        cursor: pointer;
    }
.menu{
    
    text-align: center;
    width: 100%;
    display: none;
    z-index:1001;
    
}
.menu a
{
    display: block;
    background-color: blue;
    border:solid 1px white;
    

}
label
{
    visibility: visible;
}
#toggle:checked+.menu

{
    display: block;
}

}
.container-fluid
{
    width: 100%;
    position: absolute;
    top: 71px;
    height: 470px;
}
.caption
{
    animation-name: change;
    animation-duration: 10s;
    
}
@keyframes change
{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 1;}
}
.btn.btn.btn-primary{
    
    transition: transform 3s;

}

.btn.btn-primary:hover
{
    transform: scale(1.2,1.);
    transition: transform 2s;
}

.row
{
    position: relative;
    top: 600px;
}

.row p
{
    padding:0 10px 0 10px;
}

.row h3{
    padding: 20px;
}
#imag1
{
    height: 200px;
    width: 150px;

}
.article
{
    display:flex;
}


.row.cardsec
{
    position: absolute;
    top:850px;
    margin:0 50px 0 50px;
    height: 400px;
    
}
.card1
{
    margin: 10px;
}

.card2
{
    margin: 10px;
}

.card3
{
    margin: 10px;
}
.card4
{
    margin: 10px;
}

.card-img-top
{
     transform: translateY(200px);
     transition: 2s;
}
.card-img-top:hover{
     transform: translateY(0);
    transform: scale(0px,0px);
    transition: transform 2s;
 }


#footer
{
    
    width:100%;
    position: absolute;
    top: 1400px;
    margin-bottom:0px;
    background-color:grey;
    height:200px;
    margin-bottom: 0px;
    
}
 #footer #left{

    padding:10px;
}

#footer #left li{
    list-style: none;
    padding:2px;
}
#footer #left a{
    text-decoration: none;
    color:black;
}

#footer  #center
{
    
    width:150px;
    position: absolute;
    top:30px;
    left:40%;
    right:60%;  
}

#footer #center li
{
    
    list-style: none;
}

#footer #center a
{

    text-decoration: none;
    color:black;
}

#footer  #right
{

    padding:10px;
    width:100px;
    position: absolute;
    top:10%;
    right:20%;  
}

#footer  #right li
{
    list-style: none;
}

#footer  #right a
{
    text-decoration: none;
}